.main-container {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
.task-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.project-item:hover {
  background-color: #eaeaea;
}
.hover-content {
  display: none;
}

.project-item:hover .hover-content {
  display: block;
}
